discord.py==1.7.3
discord==1.7.3
google_api_python_client==2.22.0
python-dotenv==0.19.0
PyNaCl==1.4.0
asyncio~=3.4.3
discord.py[voice]~=1.6
GitPython
isodate~=0.6.0
mutagen
requests
tweepy~=3.8.0
youtube_dl
yfinance~=0.1.54
lxml
fuzzywuzzy~=0.18.0
python-Levenshtein
beautifulsoup4~=4.8.1
requests_html
numpy
pytz
feedparser
youtube-search-python